.AccountData {
    width: 1000px;
}

/* .AccountData .account-item {

} */

.AccountData .account-item h2 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: normal;
}

/* .AccountData .form-container {

} */

.AccountData .form-pair {
    display: flex;
}

.AccountData .form-item {
    margin-right: 20px;
}

.AccountData .form-item label {
    display: block;
    font-size: 14px;
    line-height: 2;
}

.AccountData .form-item input {
    height: 40px;
    width: 250px;
    margin-bottom: 20px;
    padding: 0 10px 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #777576;
    font-size: 14px;
}

.AccountData .form-item input:focus {
    outline: 1px solid #000;
}

.AccountData .form-button {
    text-align: right;
}

.AccountData button {
    width: 280px;
    border: 1px solid transparent;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    padding: 12px 32px;
    cursor: pointer;
    transition: all .3s ease;
}

.AccountData button:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}

.AccountData .error {
    font-size: 12px;
    margin-top: -20px;
    color: #ec555b;
}