.ResetPassword {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ResetPassword .reset-container {
    width: 280px;
}

.ResetPassword h2 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: normal;
}

.ResetPassword label {
    display: block;
    font-size: 14px;
    line-height: 2;
}

.ResetPassword input[type=password] {
    height: 40px;
    width: 100%;
    margin-bottom: 20px;
    padding: 0 10px 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #777576;
    font-size: 14px;
}

.ResetPassword input[type=password]:focus {
    outline: 1px solid #000;
}

.ResetPassword input[type=submit] {
    width: 100%;
    border: 1px solid transparent;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    padding: 12px 32px;
    cursor: pointer;
    transition: all .3s ease;
}

.ResetPassword input[type=submit]:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}

.ResetPassword .error {
    font-size: 12px;
    margin-top: -20px;
    color: #ec555b;
}